<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.preppal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.840678350078-kafmuh5ete7td2a0bguqhqvk4vbvd935</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
